    <li class="span-3">
        <span class="image-block img-hover">
            <label class="container">
                <input type="checkbox" value=<%= value %> name=<%= folder %>>
                <span class="checkmark"></span>
            </label>
            <span class="container">
                <ul class="icon" >
                    <li>
                        <a href="#" onclick="download_one('<%= value %>','<%= folder %>')" >
                            <i class="fa fa-download"></i>
                        </a>
                    </li>
                </ul>
            </span>
            <a class="image-zoom"  href=<%= image %> data-gal="prettyPhoto[gallery]">
                <img src=<%= image %>  class="img-fluid" alt="">
            </a>
        </span>
    </li>