<!DOCTYPE html>
<html>
<head> <%- include head %> </head>
<body>
  	<%- include header %>
		<div class="blog-w3ls py-5 bg-light">
            <div class="container py-xl-1 py-lg-3 text-center">
                <!-- heading title -->
                <div class="main-title text-center mb-5">
                    <h3 class="tittle text-uppercase font-weight-bold"><%= title%></h3>
                    <div class="title-icon">
                        <i class="fas fa-camera"></i>
                    </div>
                    <p class="sub-tittle"><%- subText %></p>
                </div>
                <!-- //heading title -->
                <div class="row package-grids">
                <% catObj.forEach(element => {%>
                    <%- include("fotoGal",{href: element.href, rekTitle: element.rekTitle, rekText: element.rekText, image: element.image}) %>
                <%});%>
                </div>
            </div>
        </div>
  	<%- include footer %>
</body>
</html>
