<!DOCTYPE html>
<html>
<head> <%- include head %> </head>
<body>
<%- include header %>
<%- include slider %>
<%- include categoryToi %>
<%- include("reklamaInd", {image1: reklamaArr[0], image2: reklamaArr[1]}) %>
<%- include restaurantInd %>
<%- include great %>
<%- include helper %>
<%- include contacts %>
<%- include footer %>
<!-- uSocial -->
<script async src="https://usocial.pro/usocial/usocial.pp.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
<div class="uSocial-PP"  data-action="load"  data-pid="f4272ee1665e476f68f91ffbb16dd5d4" data-type="publicpopup" data-options="skin_dark,style1,showWithoutNames_1" data-social="fb,instagram"></div>
<!-- /uSocial -->
<!-- uSocial -->
<script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
<div class="uSocial-Share" data-pid="89c00149d5f084483dd75713ac289de1" data-type="share" data-options="round-rect,style1,default,left,slide-down,size48,eachCounter1,eachCounter-right,counter0" data-social="vk,ok,twi,telegram,fb" data-mobile="wa"></div>
<!-- /uSocial -->
</body>
</html>