<!DOCTYPE html>
<html>
<head> <%- include head %> </head>
<body>
  <%- include header %>
  <%- include slider %>
  <%- include restaurantInd %>
  <%- include gallaryIndex %>
  <%- include footer %>
</body>
</html>
