<!DOCTYPE html>
<html>
<head> <%- include head %> </head>
<body>
  <%- include header %>
  <%- include slider %>
  <%- include restaurantInd %>
  <%- include("reklamaInd", {image1: reklamaArr[0], image2: reklamaArr[1]}) %>
  <%- include great %>
  <%- include helper %>
  <%- include contacts %>
  <%- include footer %>
</body>
</html>
