<div class="col-md-4 team-effect-agile">
    <div class="box8" width="342px" height="295px">
        <img src=<%= image %> alt="" width="342px" height="295px" class="img-fluid">
        <h6 class="title" onClick="window.location.href = '<%= restHref %>';" style="cursor: pointer;"><%= restTitle %></h6>
        <ul class="icon" style="margin: -15% 5% 5% 15%" id="fac-inst">
            <li style="margin-bottom: 15px">
                <a href=<%= facebook %>>
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <br>
            <li>
                <a href=<%= instagram %>>
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
        <div class="box-content">
            <ul class="icon"  style="margin: -15% 5% 5% 15%">
                <li style="margin-bottom: 15px">
                    <a href=<%= facebook %>>
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <br>
                <li>
                    <a href=<%= instagram %>>
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
            <ul> 
                <li>
                    <a href=<%= restHref %>>
                        <h3 class="title" style="margin: 0% 0% 20% 25%;"><%= restTitle%></h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>