<div class="col-md-4 team-effect-agile">
    <div class="box8">
        <img src=<%= image %> alt="" class="img-fluid">
        <h6 class="title"><%= restTitle %></h6>
        <ul class="icon" style="margin: -5% -80% 10% 0%;">
            <li style="margin-bottom: 2%">
                <a href=<%= facebook %>>
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <br>
            <li>
                <a href=<%= instagram %>>
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
        <div class="box-content">
            <ul class="icon">
                <li>
                    <a href=<%= facebook %>>
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href=<%= instagram %>>
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
            <ul> 
                <li>
                    <a href=<%= restHref %>>
                        <h3 class="title" style="margin: 0% 0% 20% 25%;"><%= restTitle%></h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>